<IfModule mod_headers.c>
	<FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css)$">
		Header set Access-Control-Allow-Origin "*"
	</FilesMatch>
	Header set X-Frame-Options "ALLOW-FROM https://gaming.stream-universe.id"
	Header set X-Frame-Options "ALLOW-FROM https://portal.gaming.stream-universe.id"
	#Header set X-Frame-Options "ALLOW-FROM http://localhost/Github/stream.id"
	#Header set X-Frame-Options "ALLOW-FROM http://localhost/Github/portal_stream.id"
</IfModule>


Options All -Indexes
Options -Multiviews

<Files ~".(xml|css|jpe?g|png|gif|js|webfonts|fonts)$">
	Allow from all
</Files>


RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php [L]
 